@import '../../../styles/variables.scss';

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $header_blue_transparent_offset;
  border-bottom: 1px solid $header_blue;
  z-index: $z_index_floating_header;
}

.header-navigation {
  display: flex;
  flex: 0 1 1200px;
  height: 100%;
  font-size: 22px;
  line-height: 1.6rem;
  padding: 0 1rem;

  & a {
    display: inline-flex;
    height: 100%;
    align-items: center;
    font-family: $font_family_heading;
    font-weight: $font-weight-light;
    color: #FFFFFF;

    & span {
      flex: 1;
    }
  }
}

.header-logo {
  padding-right: 20px;

  span {
    padding-top: 6px;
    margin: 0px;
  }

  .primary {
    font-weight: $font-weight-regular;
    padding-left: 10px;
  }
}

.header-link {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 40px;

  span {
    padding-top: 6px;
  }
}

.header-icon-bar {
  flex: 0 1 200px;
  justify-content: flex-end;
  text-align: right;
  padding: 0 1rem;

  a {
    display: inline-flex;
    font-family: $font_family_heading;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    color: #333333;
    
    span {
      flex: 1;
      line-height: 2rem;
      margin: 0px 10px;
    }
  }
}