@import '../variables.scss';

.latest-post-container {
  display: flex;
  position: relative;
}

.latest-post {
  flex: 1;
  background: linear-gradient(to right, $green_medium, $green_primary, $green_primary, $green_medium);
  padding: 30px 10px;
  color: #FFFFFF;
  text-align: center;
}

.latest-post-label {
  font-family: $font_family_heading;
  font-size: $font_size_h3;
}

.latest-post-title {
  font-family: $font_family_heading;
  font-size: $font_size_h1;
  padding: 10px
}

.tux-image {
  background-image: url('../../assets/tux-pajamas.png');
  width: 200px;
  height: 200px;
}

.intro-statement-container {
  display: flex;
}