@import '../variables.scss';

.latest-post-container {
  display: flex;
  position: relative;
}

.latest-post {
  flex: 1;
  background: linear-gradient(to right, $green_medium, $green_primary, $green_primary, $green_medium);
  padding: 20px 10px;
  color: #FFFFFF;
  text-align: center;
}

.latest-post-label {
  font-family: $font_family_heading;
  font-size: $font_size_h3;
}

.latest-post-title {
  font-family: $font_family_heading;
  font-size: $font_size_h1;
  padding: 10px
}