@import '../../../styles/variables.scss';

.site-footer {
  flex: none;
  background-color: $blue_light;
}

.link {
  padding: 10px 0px 15px;
  text-align: center;

  a {
    font-size: 0.8rem;
    color: #FFFFFF;
    padding: 0px 10px;
  }
}