$accent_blue_dark: #14568a;
$accent_blue_medium_dark: #29688f;
$accent_blue_medium: #417a97;
$background_blue_light: #f5f8fa;

$font_family_heading: "Titillium Web", arial, sans-serif;
$font_family_body: "Open Sans", verdana, sans-serif;

$font_size_body: 100%;
$font_color_body: #323232;
$line_height_body: 1.6em;
$paragraph_bottom_margin: 18px;

$font_size_h1: 200%;
$font_size_h2: 160%;
$font_size_h3: 130%;
$font_color_hx: #323232;

$link_color_dark_grey: #444444;
$link_color_grey: #666666;
$link_color_light_grey: #999999;

$dropdown_menu_link_color: #333333;
$dropdown_menu_background_color: #ffffff;

$mobile_menu_background_color: #eeeeee;

$copyright_accent_background_color: #f4f4f4;

$font_size_secondary: 85%;
$font_size_code: 75%;
$font_size_small: 60%;

$border_color_container: #d0d0d0;
$hr_color: #d0d0d0;
$hr_dotted_color: #c0c0c0;
$hr_margin: 1em;

$line_height_menu: 18px;
