import * as React from "react";

export default () =>
  <div>
    <div>
      <div>
        <div as="h1">{{pascalCase name}} page</div>
        <div as="h2">Under construction</div>
      </div>
    </div>
  </div>;
