@import '../../styles/variables.scss';

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 0px 1rem;
}

.header-container {
  z-index: 500;
  border-bottom: 1px solid #f6f6f6;
}

.header-logo {
  flex: 0 0 150px;

  a {
    font-family: $font_family_heading;
    font-weight: $font-weight-md-bold;
    font-size: 1.2rem;
    color: #000000;
  }
}

.header-navigation {
  flex: 1;

  a {
    display: inline-flex;
    font-family: $font_family_heading;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #333333;
    
    span {
      flex: 1;
      line-height: 2rem;
      margin: 0px 10px;
    }
  }
}

.header-icon-bar {
  flex: 1;

  a {
    display: inline-flex;
    font-family: $font_family_heading;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #333333;
    
    span {
      flex: 1;
      line-height: 2rem;
      margin: 0px 10px;
    }
  }
}