@import '../../styles/variables.scss';

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255,0.95);
  border-bottom: 1px solid #F2F2F2;
  z-index: $z_index_floating_header;
}

.header-navigation {
  flex: 1 1 auto;

  a {
    vertical-align: middle;
  }
}

.header-logo {
  display: inline-flex;
  font-family: $font_family_heading;
  font-size: 1.2rem;
  padding: 0px 20px 0px 10px;
  color: #000000;

  span {
    flex: 1;
    line-height: 2rem;
  }

  .primary {
    font-weight: $font-weight-md-bold;
  }

  .secondary {
    font-weight: $font-weight-regular;
  }
}

.header-link {
  flex: 1;
  display: inline-flex;
  font-family: $font_family_heading;
  font-weight: $font-weight-regular;
  text-transform: uppercase;
  font-size: 1rem;
  color: #333333;

  span {
    flex: 1;
    line-height: 2rem;
    margin: 0px 10px;
  }
}

.header-icon-bar {
  flex: 1 1 auto;
  justify-content: flex-end;
  text-align: right;
  padding: 0px 1rem;

  a {
    display: inline-flex;
    font-family: $font_family_heading;
    font-weight: $font-weight-light;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #333333;
    
    span {
      flex: 1;
      line-height: 2rem;
      margin: 0px 10px;
    }
  }
}

.well-cover {
  flex: 0 0 $page_well_width;
  height: 3.5rem;
  background-color: #FFFFFF;
}