@import '../../styles/variables.scss';

.content-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: $header-height 50px 0;
  max-width: var(--content-max-width);
}
