@import '../../styles/variables.scss';

.site-padding {
  padding-top: $header-height;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0 50px;
  max-width: var(--content-max-width);
}
