.post-card-container {
  flex: 1 0 400px;
  padding: 20px 30px;

  a {
    color: #000000;
  }
}

.post-card-title {
  font-size: 1.2rem;
}


.post-card-date {
  color: #BBBBBB;
}


.post-card-excerpt {

}

