@import '../variables.scss';

.site-body {
  display: flex;
  flex-direction: column;
}

.page-body {
  flex: 1 0 auto;
  margin: 0px $page_well_width;
  padding: 80px 0px 20px;
  background: #FFFFFF;
  box-shadow: 0 2px 15px $blue_dark;
  border-radius: 4px;
  z-index: $z_index_base_content;
}