@import '../styles/variables.scss';

.site-wrapper {
}

.site-body {
  display: flex;
  flex-direction: column;
}

.page-body {
  flex: 1 0 auto;
  margin: 0px $page_well_width;
  padding: 60px 10px 10px 10px;
  background: #FFFFFF;
  box-shadow: 0 2px 15px $accent_blue_dark;
  border-radius: 4px;
  z-index: $z_index_base_content;
}